<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="otpcomponent_controller_validation">
        <observer name="frontend_otpcomponent_validator" instance="JaroslawZielinski\OTPComponent\Observer\Validation"/>
    </event>

    <event name="otpcomponent_controller_authenticated">
        <observer name="frontend_otpcomponent_action_hook" instance="JaroslawZielinski\OTPComponent\Observer\Action"/>
    </event>
</config>
